<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    @*title is now set to match the unique titel of each view page linked through this*@
    <title>@ViewData["Title"]</title>
    <link href="~/css/default.css" rel="stylesheet" />
    <!--bootstrap styling-->
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link rel="shortcut icon icon" type="image/x-icon" href="img/small pokeball.png" />
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/jquery-3.6.0.min.js"></script>
</head>
<body>
    @*shared navigation across each of the views*@
    <nav>
        <a asp-controller="Main" asp-action="Index">Home</a>
        <a asp-controller="Main" asp-action="GradeCalculator">Grade Calculator</a>
    </nav>

    <div>
        @RenderBody()
    </div>



</body>
</html>
