@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Grade Calculator";
}

@model GradeCalculatorModel;
<!--Grade calculator-->
<h2>Grading Calculator</h2>

<form method="post">
    <label>Assignments: </label>
    <input id="asgnPer" asp-for="Assignment" /><br />
    <label>Group Project: </label>
    <input id="grpPer" asp-for="GroupProject" /><br />
    <label>Quizzes: </label>
    <input id="qzPer" asp-for="Quizzes" /><br />
    <label>Exams: </label>
    <input id="exPer" asp-for="Exams" /><br />
    <label>INTEX: </label>
    <input id="inPer" asp-for="Intex" /><br />
    <input id="btnSend" type="submit" value="Grade" />

    @*data validation*@
    <div asp-validation-summary="All" ></div>
</form>

<script src="~/js/gradecalculator.js"></script>